<section class="advertisement" id="advertisement">
  <div class="container advertisement-contentainer">
    <div class="advertisement-wrap">
      <h2 class="visually-hidden">Advantages</h2>
      <p class="advertisement-text">
        Choose <span class="advertisement-span"> your story</span>, making every
        moment unique.Time is your style, and we reveal it.</p>      
      <a href="./contact-us.html" class="button advertisement-btn">
        Contact Us
      </a>
    </div>
  </div>
</section>
