<footer class="footer" id="footer-container">
  <div class="container">

<section class="footer-information">
  <div class="logo-socials">
      <a href=""><p class="logo">watchcharm</p></a>
      <div class="meida-social">
          <div class="social"><button class="button-icon"><svg class="icon" width="16" height="16">
                <use href="../img/sprite.svg#facebook"></use></svg></button>
          </div>
          <div class="social"><button class="button-icon"><svg class="icon" width="16" height="16">
                <use href="../img/sprite.svg#instagram"></use></svg></button>
          </div>
          <div class="social"><button class="button-icon"><svg class="icon" width="16" height="16">
                <use href="../img/sprite.svg#youtube"></use></svg></button>
          </div>
      </div>
  </div>

  <div class="Phone">
      <button class="button-phone" type="phone">+380 (68) 443-94-26</button>
  </div>

  <div class="txt">
      <p class="text-txt">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
  </div>
</section>


<section class="footer-end">
  <div class="footer-menu">
      <div class="menu">
          <a href="#home" class="link-button"><p>Home</p></a>
          <a href="#aboutUs" class="link-button"><p>About Us</p></a>
          <a href="#catalog" class="link-button"><p>Catalog</p></a>
          <a href="#sale" class="link-button"><p>Sale</p></a>
          <a href="#reviews" class="link-button"><p>Reviews</p></a>
          <a href="#contactUs" class="link-button"><p>Contact Us</p></a>
      </div>
      <div class="year">
        <p class="year-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
  </div>

  <div class="line-block"></div>

  <div class="footer-opac">
      <div><p class="last-text-footer">©2023 The Watch Spot. All rights reserved.</p></div>
      <div class="dop"><p class="last-text-footer">Terms of Service</p><p class="last-text-footer">Privacy Policy</p></div>
  </div>
</section>



  </div>
</footer>

