<body>

<link rel="stylesheet" href="../css/footer.css">
<link rel="stylesheet" href="../fonts/stylesheet.css">
<link rel="stylesheet" href="../fonts/Gilroy-Bold.eot">
<footer class="footer" id="footer">
  <div class="container">

<section class="footer-information">
  <div class="logo-socials">
      <a href=""><p>watchcharm</p></a>
      <div class="meida-social">
          <div class="social"></div>
          <div class="social"></div>
          <div class="social"></div>
      </div>
  </div>

  <div class="Phone">
      <P>+380 (68) 443-94-26</P>
  </div>

  <div class="txt">
      <p>Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
  </div>
</section>


<section class="footer-end">
  <div class="footer-menu">
      <div class="menu">
          <a href=""><p>Home</p></a>
          <a href=""><p>About Us</p></a>
          <a href=""><p>Catalog</p></a>
          <a href=""><p>Sale</p></a>
          <a href=""><p>Reviews</p></a>
          <a href=""><p>Contact Us</p></a>
      </div>
      <div class="year">
        <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
  </div>

  <div class="line-block"></div>

  <div class="footer-opac">
      <div><p class="last-text-footer">©2023 The Watch Spot. All rights reserved.</p></div>
      <div class="dop"><p class="last-text-footer">Terms of Service</p><p class="last-text-footer">Privacy Policy</p></div>
  </div>
</section>


  </div>
</footer>

</body>
