<body>

<link rel="stylesheet" href="../css/footer.css">
<footer class="footer" id="footer">
  <div class="container">

<section class="footer-information">
  <div class="logo-socials">
      <a href=""><p>watchcharm</p></a>
      <div>
          <div class="social"></div>
          <div class="social"></div>
          <div class="social"></div>
      </div>
  </div>

  <div class="Phone">
      <P>+380 (68) 443-94-26</P>
  </div>

  <div class="txt">
      <p>Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
  </div>
</section>


<section class="footer-end">
  <div class="footer-menu">
      <div></div>
      <div></div>
  </div>

  <div class="line-block"></div>

  <div class="footer-opac">
      <div></div>
      <div></div>
  </div>
</section>


  </div>
</footer>

</body>
