<header class="site-header">
  <div class="container header-container">
    <a href="#" class="logo">watchcharm</a>

    <nav class="desktop-nav-wrapper">
      <ul class="desktop-nav-list">
        <li><a href="#hero" class="nav-link">Home</a></li>
        <li><a href="#about" class="nav-link">About Us</a></li>
        <li><a href="#catalog" class="nav-link">Catalog</a></li>
        <li><a href="#sale" class="nav-link">Sale</a></li>
        <li><a href="#reviews" class="nav-link">Reviews</a></li>
        <li><a href="#contact" class="nav-link">Contact Us</a></li>
      </ul>
    </nav>

    <ul class="desktop-social-list">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="7" height="15" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="19" height="14" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button id="menu-toggle" class="menu-toggle">
      <svg class="icon" width="40" height="40">
        <use href="./img/sprite.svg#menu-top"></use>
      </svg>
    </button>
  </div>

  <div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu-header">
      <button id="menu-close" class="menu-close">
        <svg class="icon" width="40" height="40">
          <use href="./img/sprite.svg#menu-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <a href="#hero" class="nav-link">Home</a>
      <a href="#about" class="nav-link">About Us</a>
      <a href="#catalog" class="nav-link">Catalog</a>
      <a href="#sale" class="nav-link">Sale</a>
      <a href="#reviews" class="nav-link">Reviews</a>
      <a href="#contact" class="nav-link">Contact Us</a>
    </nav>
    <ul class="mobile-social-list">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="7" height="15" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="social-icon">
          <svg class="social-icon-svg" width="19" height="14" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

</header>