<section class="hero " id="hero" >
    <div class="container">
        <div class="hero-box-content">
            <div class="hero-tab-box">
                <h1 class="hero-title">Welcome to our <span class="hero-title-word">collection</span> of premium watches
                </h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                    lifestyle. From classic designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-box">
                <ul class="hero-foto-list">
                    <li class="hero-foro-item1"><img class="hero-foto-icon"
                            srcset="./img/reviews/reviews-2-min.png 1x, ./img/reviews/reviews-2@2x-min.png 2x" src="./img/reviews/reviews-2-min.png"
                            alt="photo 1" width="44" height="44"></li>
                    <li class="hero-foro-item2"><img class="hero-foto-icon"
                            srcset="./img/reviews/reviews-1-min.png 1x, ./img/reviews/reviews-1@2x-min.png 2x" src="./img/reviews/reviews-1-min.png"
                            alt="photo 2" width="44" height="44"></li>
                    <li class="hero-foro-item3"><img class="hero-foto-icon"
                            srcset="./img/reviews/reviews-3-min.png 1x, ./img/reviews/reviews-3@2x-min.png 2x" src="./img/reviews/reviews-3-min.png"
                            alt="photo3" width="44" height="44"></li>
                </ul>
                <a class="hero-link" href="#footer">Scroll down</a>
            </div>
        </div>
        <picture class="hero-img">
            <source srcset="./img/hero/hero-desk-min.jpg 1x, ./img/hero/hero-desk@2x-min.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="./img/hero/hero-tab-min.jpg 1x, ./img/hero/hero-tab@2x-min.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./img/hero/hero-mob-min.jpg 1x, ./img/hero/hero-mob@2x-min.jpg 2x" media="(max-width: 768px)" />
            <img src="./img/hero/hero-mob-min.jpg" alt="Watch">
        </picture>
    </div>
</section>