.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

section-about {
  padding: 30px 0;
}

.about-content {
  border-radius: 30px;
  background: #f3f3f3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.about-content p:nth-of-type(1) {
  margin-bottom: 20px;
}

.about-content p:nth-of-type(2) {
  margin-bottom: 40px;
}

.about-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  gap: 20px;
}

.btn-about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  cursor: pointer;
}

.btn-about:hover,
.btn-about:focus {
  background-color: #1f3cd4;
}

.img-about-box {
  padding: 0;
  margin-top: 0;
  border-radius: 30px;
  background: rgba(12, 12, 12, 0.2), url('path_to_image');
}
.img-about {
  margin-bottom: 60px;
}

.about-list {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  section-about {
    padding: 40px 0;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-content {
    padding: 80px 60px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .img-about {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  @media screen and (min-resolution: 2x) {
    .img-about: ;
  }

  section-about {
    padding: 50px 0;
  }

  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .about-container {
    display: flex;
    gap: 40px;
    align-items: center;
    min-width: 100%;
  }

  .about-title {
    font-size: 48px;
    margin: bottom 40px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-content {
    width: 100%;
    padding: 80px 60px;
    margin-bottom: 0;
  }

  .img-about-box {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-about {
    margin-bottom: 0;
  }
}
