.hiden-mob {
  display: none;
}

.catalog-section {
}
.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 24px;
}
.catalog-wiewport {
  max-width: 335px;

  width: 100%;
  margin-bottom: 40px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-item-wrap {
  padding: 18px 36px 18px 35px;
  margin-bottom: 10px;
}
.catalog-list-item {
  /* display: flex;
  flex-direction: column; */
  max-width: 335px;
  width: 100%;
  height: 364px;

  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  /* max-height: 364px; */
  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-item-card {
  margin-top: auto;
}
.catalog-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.catalog-list-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.catalog-list-picture {
  width: 208px;
  height: 226px;
}

.catalog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;

  margin: 0 auto;
}
.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #1f3cd4;
}
@media screen and (min-width: 768px) {
  .hiden-mob {
    display: flex;
    flex-direction: column;
  }
  .catalog-btn {
    display: none;
  }
  .catalog-list {
    flex-direction: row;
    gap: 32px 16px;
  }
  .catalog-wiewport {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .catalog-list-item {
    max-width: 344px;
    width: 100%;
    height: 414px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .catalog-btn {
    display: none;
  }
  .catalog-list-item {
    max-width: 368px;
    width: 100%;
    height: 414px;
    padding: 24px 32px;
  }
  .catalog-list {
    gap: 32px 23px;
  }
}
